In [27]:
# 1 Covert a integer to a floatig-poit number.

In [28]:
a = 100

b = float(a)

print(f'Int value : {a}\tFloat value : {b}')

Int value : 100	Float value : 100.0

In [29]:
#2 Convert a float to a integer.

In [30]:
a = 45.67

b = int(a)

print(f'Type of a : {type(a)}')
print(f'Type of b : {type(b)}')
print(f'Fload value : {a}\Int value : {b}')

Type of a : <class 'float'>
Type of b : <class 'int'>
Fload value : 45.67\Int value : 45

In [31]:
# 3. Convert a integer to a string.

In [32]:
a = 99
s = str(a)

print(f'Type of a : {type(a)}\tType of s : {type(s)}')
print(f'Int : {a}\t String : {s}')

Type of a : <class 'int'>	Type of s : <class 'str'>
Int : 99	 String : 99

In [33]:
#4. Convert a list to a tuple.

In [34]:
l = ['bhimsen','shree','PW','Vishwa']

t = tuple(l)
print(f'Type of List : {type(l)}\tType of Tuple : {type(t)}')
print(f'List : {l}\nTuple : {t}')

Type of List : <class 'list'>	Type of Tuple : <class 'tuple'>
List : ['bhimsen', 'shree', 'PW', 'Vishwa']
Tuple : ('bhimsen', 'shree', 'PW', 'Vishwa')

In [35]:
#5 Convert tuple to a list.

In [36]:
t = ('Course','of','Data Science','by', 'PW SKILLS')

l = list(t)
print(f'Type of Tuple : {type(t)}\tType of List : {type(l)}')
print(f'Tuple : {t}\nList : {l}')

Type of Tuple : <class 'tuple'>	Type of List : <class 'list'>
Tuple : ('Course', 'of', 'Data Science', 'by', 'PW SKILLS')
List : ['Course', 'of', 'Data Science', 'by', 'PW SKILLS']

In [37]:
#6. Convert a decimal number to binary.

In [38]:
d = 1998
b = bin(d) #into binary
i = int(b,2) #into decimal
print(b)
print(i)

0b11111001110
1998

In [39]:
#7. Convert a non-zero number to boolean.

In [40]:
n = 12000
bol = bool(n)
print(bol)

True