In [1]:
#1. Program to print numbers from 1 to 10, but stop if the number is 5:

In [2]:
num = 1
while num <= 10:
    if num == 5:
        break
    print(num)
    num += 1

1
2
3
4

In [3]:
#2. Program to iterate through a list and stop when encountering a specific element:

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7]
element_to_stop = 5

for item in my_list:
    print(item)
    if item == element_to_stop:
        break

1
2
3
4
5

In [5]:
#3. Program to skip printing even numbers from 1 to 10:

In [6]:
for num in range(1, 11):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

In [7]:
#4. Program to print numbers from 0 to 9 using range():

In [8]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [9]:
#5. Program to print multiplication tables from 1 to 5, but stop after the first table is printed for each number:

In [12]:
for i in range(1, 6):
    for j in range(1, 11):
        print(i, "x", j, "=", i * j)
    print()  # Add a newline after each table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50